* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  box-sizing: border-box;
  background-color: #0d1117;
}

.app {
  width: 100%;
}

a {
  text-decoration: none;
}
