<h2>chart js</h2>
<div class="container">
    <div class="chart">
        <canvas id="myChart1"></canvas>
    </div>
    <!-- <div class="chart">
        <canvas id="myChart2"></canvas>
    </div>
    <div class="chart">
        <canvas id="myChart5"></canvas>
    </div>
    <div class="chart">
        <canvas id="myChart3"></canvas>
    </div>
    <div class="chart">
        <canvas id="myChart4"></canvas>
    </div>
    <div class="chart">
        <canvas id="myChart6"></canvas>
    </div> -->
</div>