.Heores-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: 30rem;
  gap: 0.5rem;
  align-items: center;
  min-height: 100vh;
  margin: 1rem;
}
